:root {
  --background: #ece7d1;
  --color: #362402;
  --base: #8a7650;
  --base-hover: #b29b72;
  --accent: #8e977d;
  --accent-hover: #a6b787;
  --shadow: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: "YellowTail";
  src: url(src/font/Yellowtail/Yellowtail-Regular.ttf);
}

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: var(--color);
  transition: all 0.5s ease-in-out;
  color: var(--color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
body {
  width: 100%;
  background-color: var(--background);
}
.button-nav {
  background-color: var(--base);
}
.button-nav:hover {
  background-color: var(--base-hover);
}
.button-1 {
  width: 200px;
  height: 40px;
  background-color: var(--base);
  margin-block: 20px;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-1:hover {
  scale: 1.1;
  background-color: var(--base-hover);
}
.sect-title {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: "YellowTail";
}
.active {
  display: grid !important;
}

#header {
  width: 100%;
  height: 60px;
  background-color: var(--base);
  position: fixed;
  display: flex;
  z-index: 100;
  opacity: 0.8;
}
#header label {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  float: left;
}
#header input:checked ~ nav {
  display: flex;
}
#header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  float: left;
  position: absolute;
  top: 60px;
  display: none;
}
#header nav a {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}
#header span {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

#home {
  height: 100vh;
  width: 100%;
  background: url(src/img/photo/hero-image.png) no-repeat center center/cover;
  color: var(--color);
}
#home #gradientOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#home #gradientOverlay #halloBox {
  height: 300px;
}
#home #gradientOverlay #halloBox h1 {
  font-family: "YellowTail";
}
#home #gradientOverlay #halloBox p {
  font-weight: 100;
}

#aboutSect {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#aboutSect #timeline {
  width: 100%;
  height: 80%;
  position: relative;
}
#aboutSect #timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--color);
}
#aboutSect #timeline .time-box {
  width: 50%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 150px;
}
#aboutSect #timeline .time-box h1 {
  width: 100px;
  height: 50px;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 10px;
}
#aboutSect #timeline .time-box:hover p {
  opacity: 1;
  transform: translateY(0);
}
#aboutSect #timeline .time-box p {
  opacity: 0;
  transform: translateY(-10px);
}
#aboutSect #timeline .time-box:nth-child(odd) {
  left: 0;
  text-align: right;
  align-items: end;
}
#aboutSect #timeline .time-box:nth-child(even) {
  left: 50%;
  text-align: left;
  align-items: baseline;
}

#menuSect,
#merchSect {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#menuSect #menuTabs {
  display: flex;
  gap: 5px;
  height: calc(100%-120px);
}
#menuSect #menuTabs input[type="radio"] {
  display: none;
}
#menuSect #menuTabs label {
  background-color: var(--accent);
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menuSect #menuTabs label:hover {
  background-color: var(--accent-hover);
}
#menuSect #menuDisplay .display {
  width: 100%;
  height: 100%;
  display: none;
  gap: 10px;
  padding: 10px;
}
#menuSect #menuDisplay .display .products {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menuSect #menuDisplay .display .products:hover {
  opacity: 1;
}
#menuSect #menuDisplay .display .products::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--background) 30%,
    rgba(0, 0, 0, 0) 90%
  );
}
#menuSect #menuDisplay .display .products h1 {
  z-index: 50;
  font-family: "YellowTail";
  font-size: 3rem;
}
#menuSect #menuDisplay .display .products button {
  width: 100px;
  height: 30px;
  background-color: var(--accent);
  margin-block: 20px;
  z-index: 50;
}
#menuSect #menuDisplay .display .products button:hover {
  background-color: var(--accent-hover);
}

#merchSect #productCaraousel {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
#merchSect #productCaraousel #merchendises {
  height: 600px;
  width: 600px;
  position: relative;
}
#merchSect #productCaraousel #merchendises::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 20px;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-shadow: 3px 3px 10px var(--shadow);
  background-color: var(--accent);
}

#merchSect #productCaraousel #merchendises img {
  position: absolute;
}
#merchSect #productCaraousel #merchendises h1 {
  position: absolute;
  font-size: 3rem;
}
#merchSect #productCaraousel #merchendises button {
  position: absolute;
  bottom: 60px;
  font-size: 1.5rem;
  padding: 10px;
  background-color: var(--accent);
  color: white;
  right: 60px;
}
#merchSect #productCaraousel #merchendises button:hover {
  background-color: var(--accent-hover);
  border-radius: 20px;
}

#memberSect {
  width: 100%;
  height: 80vh;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
#memberSect .member-card {
  width: 189px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#memberSect .member-card img {
  transform: translateY(0);
}
#memberSect .member-card:hover img {
  transform: translateY(-20px);
  box-shadow: 0 5px 10px var(--shadow);
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  #header nav {
    width: 100%;
    margin: 0;
    gap: 0;
  }
  #home #gradientOverlay {
    background: linear-gradient(
      180deg,
      rgb(236, 231, 209) 30%,
      rgba(141, 140, 127, 0) 97%
    );
    padding: 0;
  }
  #home #gradientOverlay #halloBox {
    background-color: var(--accent);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #home #gradientOverlay #halloBox h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px 4px var(--shadow);
  }
  #home #gradientOverlay #halloBox p {
    text-align: center;
    margin-left: 0;
    font-size: 2rem;
  }
  #menuSect #menuTabs {
    width: 100%;
    height: 5%;
    justify-content: center;
  }
  #menuSect #menuTabs label {
    width: 100px;
  }
  #menuSect #menuDisplay {
    width: 100%;
    height: 95%;
  }
  #menuSect #menuDisplay .display {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  #merchSect #productCaraousel {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #merchSect #productCaraousel #merchendises h1 {
    width: 100%;
    text-align: center;
  }
  #merchSect #productCaraousel #merchendises button {
    right: 0;
    transform: translateX(-50%);
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
  #header nav {
    width: 250px;
    margin: 5px;
  }
  #home #gradientOverlay {
    background: linear-gradient(
      90deg,
      rgb(236, 231, 209) 30%,
      rgba(224, 214, 88, 0) 97%
    );
  }
  #home #gradientOverlay #halloBox {
    width: 600px;
    margin-left: 30px;
  }
  #home #gradientOverlay #halloBox h1 {
    width: 100%;
    font-size: 5rem;
  }
  #home #gradientOverlay #halloBox p {
    font-size: 2rem;
    margin-left: 30px;
  }
  #menuSect #menuTabs {
    width: 30%;
    height: 80%;
    flex-direction: column;
  }
  #menuSect #menuTabs label {
    width: 100%;
    height: 60px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateX(0);
  }
  #menuSect #menuTabs label:hover {
    transform: translateX(-20px);
  }
  #menuSect #menuDisplay {
    width: 70%;
    height: 80%;
  }
  #menuSect #menuDisplay .display {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
  #merchSect #productCaraousel {
    grid-template-columns: auto auto;
    overflow-y: scroll;
  }
}
